/*Body y fondo*/
body{
  margin: auto;
  width: 900px;
  background-color: black;
  font-family: 'Dancing Script', cursive;
}
/*Todas Las Imagenes*/
img{
  box-shadow: 3px 3px 0 black;
}
/*Menú Prinicipal y Título*/
header{
  background-color: #5b7989;
  display: flex;
  flex-flow: row;
  color: white;
  border-radius: 10px 10px 0 0;
}
.menu-derecha{
  width: 30%;
  display: flex;
  flex-flow: row;
  font-size: 1.1em;
}
.inicio{
  width: 33.33%;
  margin: auto;
}
.paisajes{
  width: 33.33%;
  margin: auto;
}
.retratos{
  width: 33.33%;
  margin: auto;
}
.titulo{
  margin-left: 2%;
  width: 70%;
  text-shadow: 2px 2px black;
}
header a{
  margin-left: 10%;
  font-size: 1em;
  color: white;
}
.active{
  text-decoration: none;
}
/*Ancho de contenedor*/
.contenedor{
  width: 100%;
  display:flex;
  flex-flow: column;
  font-size: 1.2em;
}
/*Footer*/
footer{
  display: flex;
  flex-flow: row;
  background-color: #C6d5c5;
  border-radius: 0 0 10px 10px;
  font-weight: bold;
}
footer > div {
    width: 25%;
    text-align: center;

}
p{
  margin-left:2%;
  margin-right: 2%;
  margin-top: 5%;
}
.redes-sociales img{
  box-shadow: none;
  width: 8%;
}
.bloque-redes{
  margin-bottom: 5%;
}
footer h2{
  margin-bottom: 1%;
}
/*Filtros*/
#imagen1{
  filter: blur(10px);
}
#imagen2, #imagen4, #imagen6{
  filter: grayscale(100%);
}
#imagen3{
  filter: sepia(90%);
}
/*Imagenes Secundarias Computador*/
@media (min-width:901px) {
  .bloque-secundario figure{
    width: 25%;
    margin: 2% 4%;
  }
  .paisaje{
    width: 100%;
  }
  .retrato{
    width:100%;
  }
  .bloque-secundario{
    background-color:#d5c75f ;
    display: flex;
    flex-flow: wrap;
  }
}
/*Responsive Celular*/
@media (min-width: 200px) and (max-width:900px) {
  body{
    width: 95%
  }
  header{
    display: flex;
    flex-flow: column;
  }
  .menu-derecha{
    display: flex;
    flex-flow: row;
    width: 100%;
    margin-left: 5%;
    margin-bottom: 1%;
  }
  .titulo{
    width: 100%;
    font-size: 90%;
    text-align: center;
    margin-left: 0;
  }
  .bloque-secundario{
    background-color:#d5c75f;
    display: flex;
    flex-flow: column;
    text-align: center;
  }
  .paisaje{
    width: 100%;
  }
  .retrato{
    width: 100%;
  }
  footer{
    display: flex;
    flex-flow: column;
  }
  footer > div{
    width: 100%;
    margin-bottom: 5%;
  }
  p{
    margin: 0 1% 0 1%;
  }
  .bloque-secundario figure{
    margin: 4% ;
  }
  .redes-sociales img{
    width: 5%;
  }
}
